<div>
  <%= form_with(model: @transaction, local: true) do |f| %>
  
    <%= render "layouts/error_messages", model: f.object %>
  
    <div class="form-group">
      <%= f.label :tdate, "Date" %>
      <%= f.date_field :tdate, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :description, "Description" %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :amount, "Amount" %>
      <%= f.number_field :amount, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :category_id, "Category" %>
      <%= f.collection_select :category_id, @categories, :id, :category, {include_blank: "カテゴリーを選択 (必須)", prompt: false}%>
    </div>
    
    <div id="subcategory_insert_point"></div>
    
    <div id="subcategory">
      <div class="form-group">
        <%= f.label :subcategory_id, "Sub Category" %>
        <% if @subcategories.blank? %>
          <%= f.select :subcategory_id, [], include_blank: "---" %>
        <% else %>
          <%= f.collection_select :subcategory_id, @subcategories, :id, :subcategory, {include_blank: "---", prompt: false} %>
        <% end %>
      </div>
    </div>
    
    <% @categories.each do |category| %>
      <template id="subcategory_<%= category.id %>">
        <div id="selected_subcategory">
          <div class="form-group">
            <%= f.label :subcategory_id, "Sub Category" %>
            <%= f.collection_select :subcategory_id, category.subcategories, :id, :subcategory, {include_blank: "---", prompt: false} %>
          </div>
        </div>
      </template>
    <% end %>
  
    <div class="text-aligned-end">
      <%= link_to "Cancel", root_url, {class: "btn btn-primary"} %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  
  <% end %>
</div>

<%= javascript_tag "category_select_box", "data-burbolinks-track": "reload" %>
