<div class="row">
  <div class="col-sm-11">
    <%= form_with url: search_transactions_path, local: true do |f| %>
      <div class="form-group">
        <%= f.date_select :tdate, use_month_numbers: true, discard_day: true, start_year: Date.today.year, end_year: 1900, selected: @d, class: "form-control" %>
        <%= f.submit "表示", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-1">
    <%= link_to "新規", new_transaction_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="table-primary">
    <tr>
      <th scope="col"><div class="text-center">日付</div></th>
      <th scope="col"><div class="text-center">内容</div></th>
      <th scope="col"><div class="text-center">金額 (円)</div></th>
      <th scope="col"><div class="text-center">カテゴリー</div></th>
      <th scope="col"><div class="text-center">サブカテゴリー</div></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr class="clickable-row" data-href="/transactions/<%= transaction.id %>/edit">
        <td><div class="text-center"><%= transaction.tdate %></div></td>
        <td><div class="text-left"><%= transaction.description %></div></td>
        <td><div class="text-right"><%= transaction.amount %></div></td>
        <td><div class="text-left"><%= transaction.category.name %></div></td>
        <td><div class="text-left"><%= transaction.subcategory.name %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function($) {
      $(".clickable-row").css("cursor","pointer").click(function() {
          location.href = $(this).data("href");
      });
  });
</script>
